video#bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  -webkit-filter: grayscale(65%);
  filter: grayscale(65%);
}

.logo img {
  position: relative;
  width: 65%;
  margin-top: 19px;
}

.logo a {
  text-decoration: none;
  border: none;
}

#main article {
  width: 70rem;
  padding-top: 2.5rem;
}

section img {
  width: 100%;
}

.links {
  margin-top: 15px;
}

.links ul {
  text-align: center;
  list-style: none;
  padding-left: 0;
}

.links ul li {
  padding: 0;
  border: solid 1px #ffffff;
}

.links ul li.shopping {
  border-radius: 6px 6px 0 0;
  margin-bottom: 15px;
}

.links ul li.explorer {
  border-radius: 0 0 6px 6px;
}

.links ul li a {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 10px;
  border: none;
  line-height: 1.85rem;
}

.links ul li:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.links .explorer:before {
  content: '';
  display: block;
  position: absolute;
  top: calc(1.98rem - 1px);
  left: calc(50% - 1px);
  width: 1px;
  height: 15px;
  background: #ffffff;
}

.swiper-container {
  width: 100%;
  height: 600px;
}

.swiper-wrapper { display: flex; }

.swiper-slide { display: table; }

.filters {
  margin-top: -55px;
  margin-bottom: 20px;
}

.filters label {
  margin-bottom: 10px;
}

.filters .filter {
  display: inline-block;
  margin-right: 30px;
}

.planet-data {
  margin: 0 60px;
}

.planet-header {
  margin: 0 60px 15px;
}

.planet-header a {
  border-bottom: none;
  margin-top: 15px;
}

.planet-header h2, .planet-header h3 {
  display: inline-block;
  margin: 0 30px 0 0;
}

.planet-header h3:last-of-type {
  margin-right: 0;
}

#explorer .planet-data td:nth-of-type(5) {
  display: none;
}

#explorer div[data-planet-type='Exoworld'] td:nth-of-type(5) {
  display: table-cell;
}

#explorer .filters .fields {
  margin-bottom: 0;
}

.planet-data table td {
  padding: 0.45em 0.45em;
}

.planet-data table td:nth-of-type(4),
.planet-data table td:nth-of-type(5) {
  width: 55px;
  text-align: center;
  line-height: 28px;
}

.planet-data section.table-wrapper,
#shopping section.table-wrapper {
  height: 475px;
}

.planet-data section.table-wrapper::-webkit-scrollbar-track,
#shopping section.table-wrapper::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.planet-data section.table-wrapper::-webkit-scrollbar,
#shopping section.table-wrapper::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.planet-data section.table-wrapper::-webkit-scrollbar-thumb,
#shopping section.table-wrapper::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

#explorer div.legend {
  text-align: right;
}

#explorer div.legend div {
  display: inline-block;
  margin-right: 15px;
}

.ui-menu.ui-autocomplete {
  background-color: rgba(27, 27, 27, 0.95);
  border: 1px solid #FFF;
  border-radius: 4px;
}

#shopping table td {
  padding: 0 0.75em;
}

#shopping .search-item {
  text-align: right;
  font-style: italic;
}

#planet-search, #color-search {
  margin-top: 10px;
}

.swiper-button-next, .swiper-button-prev {
  transition: opacity .5s;
}

.swiper-button-disabled {
  opacity: 0 !important;
}

#maps iframe {
  width: 100%;
  min-height: 600px;
}

#shopping th {
  cursor: pointer;
}

#shopping .search-bar {
  position: relative;
}

#shopping .search-bar #shop {
  width: 88%;
}

#shopping .search-bar #shop-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 12%;
}

@media screen and (max-width: 736px) {
  #main article {
    width: 95%;
  }

  .filters {
    margin-top: -35px;
    margin-bottom: 15px;
  }

  .planet-data, .planet-header {
    margin: 0 0 0 0;
  }
}
